body {
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
  font-family: "Larsseit-Regular";
}

.header {
  display: flex;
  background-color: #f4f9e2;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 100px 0 180px;
}

.header_logo {
  font-family: "Larsseit-Bold";
  font-size: 24px;
  line-height: 27px;
  color: #62d0df;
}

.header_navigation {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header_navigation-item {
  margin: 0 14px;
  font-size: 14px;
  line-height: 16px;
  color: #22356f;
}

.header_button {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;

  color: #ffffff;
  margin-top: 5px;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border-style: none;
  background-color: #62d0df;
}

.intro {
  display: flex;
  background: url("./img/intro.png") no-repeat right,
    linear-gradient(to right, #f4f9e2 80%, white 20%);
  width: 100%;
}

.intro_container {
  display: flex;
  flex-direction: column;
  width: 484px;
  margin: 150px 150px 0 180px;
}

.intro_title {
  font-family: "Larsseit-Bold";
  font-size: 48px;
  line-height: 53px;

  color: #22356f;
  text-transform: uppercase;
}

.intro_text {
  font-family: "Larsseit-Regular";
  font-size: 24px;
  line-height: 42px;

  color: #22356f;
}

.intro_buttons-container {
  margin-top: 40px;
  display: flex;
  margin-bottom: 75px;
}

.intro_button1 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  width: 150px;
  height: 50px;
  background: #f9b640;
  border-style: none;
  text-transform: uppercase;
  color: white;
}

.intro_button2 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  width: 150px;
  height: 50px;
  background: #f4f9e2;
  border-style: none;
  text-transform: uppercase;
  color: #f9b640;
  margin-left: 50px;
}

.description {
  display: flex;
  background: url("./img/description_background.png") no-repeat right, #62d0df;
}

.description_container {
  margin-top: 117px;
  margin-left: 180px;
  width: 555px;
}

.description_title {
  font-family: "Larsseit-Bold";
  font-size: 36px;
  line-height: 27px;
  margin-bottom: 75px;

  color: #ffffff;
}

.description_text {
  font-family: "Larsseit-Light";
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 75px;

  color: #ffffff;
}

.about-us {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
}

.about-us_title {
  position: absolute;
  font-family: "Larsseit-Light";
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  color: #22356f;
  top: 156px;
  left: 106px;
  margin: 0;
}

.about-us_text {
  font-family: "Larsseit-Medium";
  font-size: 24px;
  line-height: 34px;
  width: 595px;
  margin: 150px auto 75px auto;

  color: #22356f;
}

.services_title {
  font-family: "Larsseit-Light";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;

  color: rgba(34, 53, 111, 0.5);
}

.services_list {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  padding: 0;
  list-style: none;
  align-items: flex-start;
}

.services_list-item {
  box-sizing: border-box;
  flex-basis: 25%;
  height: 360px;
  padding: 95px 52.5px 0 52.5px;
  font-family: "Larsseit-Medium";
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  text-indent: -8px;
}

.services_list-item::before {
  width: 20px;
  height: 20px;
  align-self: flex-start;
  content: "\2022";
  color: #e9b730;
  padding-right: 15px;
}

.color1 {
  background-color: #ffe2de;
}

.color2 {
  background-color: #c4e769;
}

.color3 {
  background-color: #62d0df;
}

.color4 {
  background-color: #0052c1;
}

.services_cards-container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.services_cards {
  display: flex;
  flex-wrap: wrap;
}

.services_card {
  flex-basis: 33.3%;
  height: 480px;
  font-family: "Larsseit-Medium";
  font-size: 32px;
  line-height: 34px;
  text-align: start;
  color: #ffffff;
}

.color_very-dark-blue {
  background-color: #22356f;
}

.color_strong-blue {
  background-color: #0052c1;
}

.card_image {
  background-image: url(./img/nutrition_card_background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.color_soft-syan {
  background-color: #62d0df;
}

.color_very-pale-blue {
  background-color: #dee1ff;
}

.color_violet {
  background-color: #8f00ff;
}

.services_card-text {
  padding-top: 30px;
  border-top: 1px solid white;
  margin: 96px 70px;
  word-spacing: 100vw;
}

.services_card-text:before {
  width: 20px;
  height: 20px;
  align-self: flex-start;
  content: "\2022";
  color: #e9b730;
  padding-right: 15px;
}

.services_description-container {
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.services_description {
  box-sizing: border-box;
  flex-basis: 33.3%;
  padding: 77px;
}

.services_description-title {
  font-family: "Larsseit-Medium";
  font-size: 28px;
  line-height: 33px;
  color: #22356f;
}

.services_description-text {
  font-family: "Larsseit-Light";
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: #22356f;
  width: 300px;
  opacity: 75%;
}
